// Place all the styles related to the membera controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#members_list {
  margin: 16px 8px;
}

.group {
  margin: 16px 8px;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  border: 1px solid gray;
  box-sizing: border-box;
  height: 200px;
}

.group_name {
  background-color: gray;
  color: white;
  padding: 0 7px;
}

.group_members {
  padding: 0 5px;
}

form {
  margin: 16px 8px;
  display: inline-block;
}

.btn_blue{
  background-color: #19b1c6;
  color: #fff;
  margin-top: 10px;
}

.btn_blue:hover{
  background-color: #0c91a3;
}

.over_wrap{
  padding: 20px;
  background-color: #f5f5f5;
  height: 100%;
  text-align: center;
}

.group_num_wrap{
  padding: 20px;
}