<% @groups.each do |group| %>
  <div>
    <%= group.name %>
    <div>
      <% group.members.each do |member| %>
        <div>
          <%= member.name %> : <%= member.year %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>